@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    scroll-behavior: smooth;
    height: 100%;
    width: 100%
    !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

nav{
    background-color:   #F5F5F1;
    position: sticky;
    top: 0;
    padding: 0 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav .logo,
footer .logo{
    display: flex;
    align-items: center;
}

nav .logo a,
footer .logo a{
    color: #1E1E1E;
    margin-left: 8px;
    font-weight: bold;
    font-size: 20px;
}

nav .logo img,
footer .logo img{
    width: 40px;
    height: 40px;
}

nav ul,
footer .top ul,
footer a{
    display: flex;
    margin-top: 13px;
    gap: 40px;
    color: #1E1E1E;
    text-decoration: none;
    flex-wrap: wrap;
}

nav button{
    color: #1E1E1E;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid #1E1E1E;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav button:hover{
    background-color: #617E71;
    border-color: #617E71;
    color: #F5F5F1;
}

.link {
    position: relative;
    padding-bottom: 0.75rem;
    color: #FFFFFF;
    text-decoration: none;
}

.link::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #617E71;
    transition: all 0.4s ease;
}

.link:hover::after{
    width: 75%;
}

.mainPageImg{
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: inline;
    float: none;
    line-height: 24px;
    position: static;
}

.separatorLine{
    width: 100%;
    height: 1px;
    background: white;
    margin-bottom: 100px;
}

.link {
    position:   relative;
    padding-bottom: 0.5rem;
    color: #1E1E1E;
    text-decoration: none;
}


.link:after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #617E71;
    transition: all 0.3s ease;
}

.link:hover ::after{
    width: 85%;
}

li{
    list-style: none;
}

.homeSentences {
    font-size: 25px;
    font-weight: 600;
    color: #F5F5F1;
    text-shadow: 2px 4px 4px rgba(30, 30, 30, 0.6);
}



.trainingTop {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0;
}

.articlesMain{
    margin-top: 5px;
    margin-bottom: 30px;
}

.articlesMain .mainArt{
    background-color: #F5F5F1;
    border-radius: 10px;
    padding: 32px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
}

.articlesMain .mainArt:hover{
    border-color: #617E71;
}

.articlesMain .mainArt .iconArticle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 46px;
    height: 46px;
    border-radius: 10px;
    margin-bottom: 22px;
    box-shadow: 0 0 16px rgba( 0, 0, 0, 0.1);
}

.articlesMain .mainArt .iconArticle i{
    font-size: 26px;
    color: #1E1E1E;
}

.articlesMain .mainArt h4{
    font-size: 18px;
}

.articlesMain .mainArt p{
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #1c1e53;
}

.testLogin,
.testRegistration,
.testDataModification,
.testCoachCreate,
.testTrainCreate{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 80px 0;
}

.coachCont,
.trainCont{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


.containerLogin,
.containerRegistration,
.containerDataModification,
.coachCreate {
    width: 480px;
    padding: 40px 32px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px;
}

.trainCreate {
    width: auto;
    padding: 40px 32px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px;
}

.containerLogin h1,
.containerRegistration h1,
.containerDataModification h1,
.coachCreate h1,
.trainCreate h1{
    font-size: 1.6rem;
}

.slider {
    margin-bottom: 30px;
}

.containerLogin .divider,
.containerRegistration .divider,
.containerDataModification .divider,
.coachCreate .divider,
.homePageRow .divider,
.titleDivider .divider{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.containerLogin .divider .line,
.containerRegistration .divider .line,
.containerDataModification .divider .line,
.coachCreate .divider .line,
.homePageRow .divider .line{
    height: 1px;
    width: 100%;
    background-color: #1E1E1E;
    opacity: 0.5;
    margin: 30px 0 16px;
}

.homePageRow .divider .line,
.titleDivider .divider .line{
    height: 1px;
    width: 75%;
    background-color: #1E1E1E;
    opacity: 0.5;
    margin: 30px 0 30px;
}

.containerLogin form label,
.containerLogin form a,
.containerRegistration form label,
.containerRegistration form a,
.containerDataModification form label,
.containerDataModification form a,
.coachCreate form label,
.coachCreate form a,
.trainCreate form label,
.trainCreate form a{
    color: #1E1E1E;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.03rem;
    display: block;
    margin-top: 12px;
}

.containerLogin form .custom-inputLogin,
.containerRegistration form .custom-inputRegistration,
.containerDataModification form .custom-inputDataModification,
.coachCreate form .custom-inputCreateCoach,
.trainCreate form .custom-inputTrainCreate{
    position: relative;
}

.containerLogin form .custom-inputLogin input,
.containerRegistration form .custom-inputRegistration input,
.containerDataModification form .custom-inputDataModification input,
.coachCreate form .custom-inputCreateCoach input,
.coachCreate form .custom-inputCreateCoach textarea,
.trainCreate form .custom-inputTrainCreate input{
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    height: 46px;
    letter-spacing: 0.03rem;
    border: 1px solid #1E1E1E;
    background: transparent;
    outline: none;
    border-radius: 8px;
    text-indent: 20px;
    margin-top: 6px;
    transition: all 0.3s ease;
}

.trainCreate form .custom-inputTrainCreateDate input {
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 500;
    width: auto;
    height: 46px;
    letter-spacing: 0.03rem;
    border: 1px solid #1E1E1E;
    background: transparent;
    outline: none;
    border-radius: 8px;
    text-indent: 20px;
    margin-top: 6px;
    transition: all 0.3s ease;
}


.containerLogin form .custom-inputLogin input:focus,
.containerRegistration form .custom-inputRegistration input:focus,
.containerDataModification form .custom-inputDataModification input:focus{
    border-color: #1E1E1E;
}

.containerLogin form .custom-inputLogin i,
.containerRegistration form .custom-inputRegistration i,
.containerDataModification form .custom-inputDataModification i{
    position: absolute;
    font-size: 28px;
    right: 10px;
    top: 14px;
    transition: all 0.3s ease;
}

.containerLogin form .custom-inputLogin input:focus +i,
.containerRegistration form .custom-inputRegistration input:focus + i,
.containerDataModification form .custom-inputDataModification input:focus +i{
    color: #617E71;
}

.containerLogin form .login,
.containerLogin form .registration,
.containerRegistration form .login,
.containerRegistration form .registration,
.containerDataModification form .dataChangeSave,
.coachCreate form .createSaveBtn,
.trainCreate form .createTrainSave{
    width: 100%;
    margin-top: 30px;
    background: #1E1E1E;
    color: #FFFFFF;
    border: none;
    line-height: 50px;
    font-size: 18px;
    letter-spacing: 0.025rem;
    cursor: pointer;
    font-weight: 800;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.containerLogin form .login:hover,
.containerLogin form .registration:hover,
.containerRegistration form .login:hover,
.containerRegistration form .registration:hover,
.containerDataModification form .dataChangeSave:hover,
.coachCreate form .createSaveBtn:hover,
.trainCreate form .createTrainSave:hover{
    background: #617E71;
}

.containerLogin .loginLinks,
.containerRegistration .loginLinks{
    display: flex;
    text-decoration: none;
    justify-content: left;
    margin-top: 10px;
}

.containerLogin .noAccount,
.containerRegistration .yesAccount{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.coachContainer {
    margin: 50px 0 30px 0;
}

.coachHeaderText {
    margin-bottom: 40px;
}

.personalTrainers {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.coachQuestion {
    text-align: center;
    font-size: 23px;
    font-weight: 500;
}

.trainersText {
    text-align: center;
}

.coachCard {
    background-color: #F5F5F1;
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    border-color: #1E1E1E;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-width: 1px;
    margin: 0 0 50px 0.1%;
}

.coachImage {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 10px;
}

.coachText {
    justify-content: center;
    align-content: center;
}


.coachName {
    font-size: 33px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

.coachTitle {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 4px;
}

.coachInformation {
    font-size: 17px;
    font-weight: 400;
    margin-left: -30px
}

.coachContact {
    border-right: 5px solid #617E71;
    border-radius: 5px;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
}

.coachSchool,
.coachSkill,
.coachExperience{
    margin-bottom: 2px;
}

.coachIcons {
    color: #1E1E1E;
    font-size: 18px;
}

.coachIcons:hover {
    color: #617E71;
}

.trainingContainer {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgba(97, 126, 113, 0.4);
    height: auto;
    border-radius: 15px;
}

.trainingTop {
}

.trainingMain {
    font-weight: 500;
    font-size: 50px;
    align-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 2px;
}

.trainingName {
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.trainingTitle {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.trainingImage {
    background-position: center;
    height: auto;
    width: 100%;
    background-color: rgba(97, 126, 113, 0.4);
    margin-bottom: 50px;
    border-radius: 15px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.trainDescriptionCol {
    width: 600px;
    text-align: center;
}

.trainingDescription {
    font-size: 17px;
    text-align: justify;
    justify-content: center;
    margin-bottom: 30px;
}

.trainingLike,
.trainingDislike {
    display: inline-block;
    justify-content: center;
    gap: 40px;
    margin-right: 10px;
}

.trainingLike:hover,
.trainingDislike:hover {
    color: #F5F5F1;
}

.authDate{
    text-align: right;
    display: inline;
    font-size: 16px;
}

.createSurName,
.createFirstName,
.createAge,
.createSchool,
.createSkill,
.createExperience,
.createEmail,
.createPhone{
    color: #1E1E1E;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.03rem;
    display: block;
    margin-top: 12px;
}

.backButton {
    justify-items: left;
    margin: 50px 0 10px 50px;
    font-size: 40px;
    color: #1E1E1E;
    background-color: transparent;
    height: 50px;
    border-radius: 5px;
    border: #617E71;
}

.backButtonDiet {
    justify-items: left;
    margin: 10px 0 10px 0;
    font-size: 40px;
    color: #1E1E1E;
    background-color: transparent;
    height: 50px;
    border-radius: 5px;
    border: #617E71;
}
.backButtonAdmin {
    justify-items: left;
    margin: 50px 0 10px 0;
    font-size: 40px;
    color: #1E1E1E;
    background-color: transparent;
    height: 50px;
    border-radius: 5px;
    border: #617E71;
}

.backButtonAdminDiet {
    justify-items: left;
    margin: 40px 0 0 0;
    font-size: 40px;
    color: #1E1E1E;
    background-color: transparent;
    height: 50px;
    border-radius: 5px;
    border: #617E71;
}

footer{
    background-color: #F5F5F1;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    width: 100%;
}

footer .top,
footer .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .top .social-links{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
}

footer .separator{
    width: 100%;
    height: 1px;
    background-color: #282938;
    margin: 30px 0 20px;
}

footer .bottom p{
    font-size: 12px;
}

footer .bottom .links a{
    font-size: 12px;
    margin-left: 14px;
}

#map {
    position: absolute; top: 0; bottom: 0; left: 0; right: 0;
}

.leaflet-container {
    height: 60vh;
    width: 100vh;
}

.kozepreMap {
    height: 60vh;
    width: 100vh;
    margin: 0 auto;
    position: relative;
}
#map {
    position: absolute; top: 0; bottom: 0; left: 0; right: 0;
}

.leaflet-container {
    height: 60vh;
    width: 100%;
}

.GymPhotoForMap {
    width: 100%;
}

@media screen and (min-width: 650px) {
    .homeSentences {
        font-size: 40px;
    }
}

@media screen and (min-width: 992px ) {
    .homeSentences {
        align-items: center;
        font-size: 60px;
    }
}
@media screen and (max-width: 500px) {
    .homeSentences {
        font-size: 20px;
    }
    .backButton,
    .backButtonAdmin,
    .backButtonAdminDiet{
        margin: 20px 0 10px 0;
    }
}

.NavbarContainer {
    margin: 30px 0 30px 0;
}





.trainingArticlesCont {
    margin-top: 50px;
    margin-bottom: 50px;

}
.trainingCard {
    background-color: rgb(97, 126, 113, 0.4);
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    border-color: #1E1E1E;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-width: 1px;
    margin: 0 0 50px 0.1%;
}

.topOfTrainingCard {
    margin-bottom: 10px;
}

.trainingPicture {
    width: 65%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 10px;
}


.nameOfTraining {
    font-size: 45px;
    font-weight: 700;
    margin: 10px 0 20% 5px;
}

.authorOfTraining {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 0 5px;
}

.dateOfTraining {
    font-size: 22px;
    font-weight: 500;
    color: #1E1E1E;
    opacity: 0.5;
    margin: 0 0 3px 5px;
}

.textOfTraining {
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 0 5px;
}

.buttonClick  {
    text-decoration: none;
    color: #1E1E1E;
}

@media screen and (min-width: 768px) {
    .nameOfTraining {
        font-size: 30px;
        margin: 20px 0 0 5px;

    }
    .authorOfTraining {
        font-size: 20px;
        margin: 10px 0 20px 5px;
    }
    .trainingPicture {
        width: 100%;
        margin: 10px 0 20px 5px;
    }
    .dateOfTraining {
        font-size: 18px;
        margin: 16px 0 10px 5px;
    }
    .textOfTraining {
        font-size: 20px;

    }
}

@media screen and (min-width: 1024px) {
    .nameOfTraining {
        font-size: 35px;
        margin: 10px 0 80px 5px;
    }

    .authorOfTraining {
        font-size: 25px;
        margin: 0 0 0 5px;
    }

    .trainingPicture {
        width: 95%;
        height: 250px;
        margin: 10px 0 10px 5px;
    }
}

@media screen and (max-width: 425px) {
    .nameOfTraining {
        font-size: 23px;
        margin: 15px 0 18px 5px;

    }
    .authorOfTraining {
        font-size: 18px;
        margin: 10px 0 20px 5px;
    }
    .trainingPicture {
        width: 100%;
        height: 230px;
        margin: 10px 0 10px 5px;
    }
    .dateOfTraining {
        font-size: 15px;
        margin: 10px 0 6px 5px;
    }
    .textOfTraining {
        font-size: 16px;
    }
}



.articleTitle {
    font-size: 25px;
    font-weight: 600;
}

.authorName {
    font-size: 18px;
}


.articleDate {
    font-size: 14px;
}







