@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');


html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

nav{
    background-color:   #EFEFEF;
    position: sticky;
    top: 0;
    padding: 0 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav .logo,
footer .logo{
    display: flex;
    align-items: center;
}

nav .logo a,
footer .logo a{
    color: #1E1E1E;
    margin-left: 8px;
    font-weight: bold;
    font-size: 20px;
}

nav .logo img,
footer .logo img{
    width: 40px;
    height: 40px;
}

nav ul,
footer .top ul,
footer a{
    display: flex;
    margin-top: 13px;
    gap: 40px;
    color: #1E1E1E;
    text-decoration: none;
}

nav button{
    color: #1E1E1E;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid #1E1E1E;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav button:hover{
    background-color: #617E71;
    border-color: #617E71;
    color: #FFFFFF;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #FFFFFF;
    text-decoration: none;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #617E71;
    transition: all 0.4s ease;
}

.link a:hover::after{
    width: 75%;
}

.mainPictureMovement, .mainPictureGroup{
    height: 555px;
    width: 558px;
    object-fit: cover;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: inline;
    float: none;
    line-height: 24px;
    position: static;
}


.separatorLine{
    width: 100%;
    height: 1px;
    background: white;
    margin-bottom: 100px;
}

.link a{
    position:   relative;
    padding-bottom: 0.5rem;
    color: #1E1E1E;
    text-decoration: none;
}


.link a:after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #617E71;
    transition: all 0.3s ease;
}

.link a:hover ::after{
    width: 85%;
}

li{
    list-style: none;
}

.articles{
    padding: 110px 85px 0;
    margin-bottom: 50px;
}

.articles h3{
    font-size: 40px;
}

.articles .articlesMain{
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.articles .articlesMain .mainArt{
    background-color: #EFEFEF;
    width: 25%;
    border-radius: 10px;
    padding: 32px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
}

.articles .articlesMain .mainArt:hover{
    border-color: #617E71;
}

.articles .articlesMain .mainArt .iconArticle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 46px;
    height: 46px;
    border-radius: 10px;
    margin-bottom: 22px;
    box-shadow: 0 0 16px rgba( 0, 0, 0, 0.1);
}

.articles .articlesMain .mainArt .iconArticle i{
    font-size: 26px;
    color: #1E1E1E;
}

.articles .articlesMain .mainArt h4{
    font-size: 18px;
}

.articles .articlesMain .mainArt p{
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #1c1e53;
}

.testLogin,
.testRegistration{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.containerLogin,
.containerRegistration{
    width: 446px;
    padding: 40px 32px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px;
}

.containerLogin h1
.containerRegistration h1{
    font-size: 1.6rem;
}

.containerLogin .divider,
.containerRegistration .divider{
    display: flex;
    align-items: center;
    gap: 20px;
}

.containerLogin .divider .line,
.containerRegistration .divider .line{
    height: 1px;
    width: 100%;
    background-color: #1E1E1E;
    opacity: 0.5;
    margin: 30px 0 16px;
}

.containerLogin form label,
.containerLogin form a,
.containerRegistration form label,
.containerRegistration form a{
    color: #1E1E1E;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.03rem;
    display: block;
    margin-top: 12px;
}

.containerLogin form .custom-inputLogin,
.containerRegistration form .custom-inputRegistration{
    position: relative;
}

.containerLogin form .custom-inputLogin input,
.containerRegistration form .custom-inputRegistration input{
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    height: 46px;
    letter-spacing: 0.03rem;
    border: 1px solid #1E1E1E;
    background: transparent;
    outline: none;
    border-radius: 8px;
    text-indent: 20px;
    margin-top: 6px;
    transition: all 0.3s ease;

}

.containerLogin form .custom-inputLogin input:focus,
.containerRegistration form .custom-inputRegistration input:focus{
    border-color: #1E1E1E;
}

.containerLogin form .custom-inputLogin i,
.containerRegistration form .custom-inputRegistration i{
    position: absolute;
    font-size: 28px;
    right: 10px;
    top: 14px;
    transition: all 0.3s ease;
}

.containerLogin form .custom-inputLogin input:focus +i,
.containerRegistration form .custom-inputRegistration input:focus + i{
    color: #617E71;
}

.containerLogin form .login,
.containerLogin form .registration,
.containerRegistration form .login,
.containerRegistration form .registration{
    width: 100%;
    margin-top: 30px;
    background: #1E1E1E;
    color: #FFFFFF;
    border: none;
    line-height: 50px;
    font-size: 18px;
    letter-spacing: 0.025rem;
    cursor: pointer;
    font-weight: 800;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.containerLogin form .login:hover,
.containerLogin form .registration:hover,
.containerRegistration form .login:hover,
.containerRegistration form .registration:hover{
    background: #617E71;
}

.containerLogin .loginLinks
.containerRegistration .loginLinks{
    display: flex;
    text-decoration: none;
    justify-content: left;
    margin-top: 10px;
}

.containerLogin .noAccount,
.containerRegistration .yesAccount{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.Row{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: seagreen;
    background-size: cover;
    background-position: center;
}

.wrapper{
    display: block;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    background: purple;
    border: 2px solid rgba(255, 255, 255, .2);
    background-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    width: 100%;
    height: 50%;
    margin: 30px 0;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: white;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: white;
    margin-right: 3px;
}

.remember-forgot a {
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}


footer{
    background-color: #EFEFEF;
    padding: 85px;
    display: flex;
    flex-direction: column;
}

footer .top,
footer .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .top .social-links{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
}

footer .separator{
    width: 100%;
    height: 1px;
    background-color: #282938;
    margin: 30px 0 20px;
}

footer .bottom p{
    font-size: 12px;
}

footer .bottom .links a{
    font-size: 12px;
    margin-left: 14px;
}

#map {
    position: absolute; top: 0; bottom: 0; left: 0; right: 0;}